#entete {
    position: relative;
    width: 70%;
    

    font-size: 1.3em;
}

#zoneQuestion {
    position: relative;
    height: 55%;
    width: 70%;
    top: 10%;

    font-size: 1.5em;
}

#envoyer{
      position: relative;
      height: 5%;
      width: 10%;
      bottom: 15%;
      right: 2%;
      font-size: 1em;
  }
